<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Crear relator</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form class="new-user-form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <h2>{{usuarioLog.nombre}} {{usuarioLog.apellidos}}</h2>
        <ion-item>
            <ion-label position="floating" color="primary">Convertir en moderador</ion-label>
            <ion-checkbox slot="end" check="false" (ionChange)="getChangedModerador($event)" formControlName="moderador" class="form-control"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label position="floating" color="primary">Convertir en relator</ion-label>
            <ion-checkbox slot="end" check="false" (ionChange)="getChanged($event)" formControlName="ponente" class="form-control"></ion-checkbox>
        </ion-item>
        <ion-button class="form-action-button" expand="block" type="submit" [disabled]="!validations_form.valid">Gardar</ion-button>
    </form>
    <!--  <ion-button class="form-action-button" expand="block" color="danger" (click)="delete()">Delete</ion-button>-->

</ion-content>