<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="power" [style.color]="color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Usuarios
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let item of items">
        <ion-card-content *ngIf="usuarioLog == 'admin' || item.payload.doc.id == usuario ">
            <ion-item>
                <ion-avatar slot="start">
                    <img [src]="item.payload.doc.data().image">
                </ion-avatar>
                <ion-label>
                    <h3>{{item.payload.doc.data().nombre}}</h3>
                    <small>{{item.payload.doc.data().apellidos}}</small>
                </ion-label>
                <ion-button *ngIf="usuarioLog == 'admin'" slot="end" (click)="editDetails(item.payload.doc.id, item.payload.doc.data())">
                    Actualizar
                </ion-button>
                <ion-button *ngIf="item.payload.doc.id == usuario && item.payload.doc.data().permisos == 'usuario'" slot="end" (click)="viewDetails(item.payload.doc.id, item.payload.doc.data())">
                    Editar
                </ion-button>

            </ion-item>

        </ion-card-content>

    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openNewUserModal()">
            <ion-icon name="add" class="white"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>