.accesoRapido {
    text-align: center;
}

.accesoRapido .col {
    text-align: center;
}

.accesoRapido ion-icon {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-top: 5px;
}

.preguntasCol {
    background-color: #3880ff;
}

.ponentes {
    background-color: #0cd1e8;
}

.usuarios {
    background-color: #7044ff;
}

.mas {
    background-color: #ffce00;
}

.redondo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.col small {
    font-size: 12px;
    color: #666666;
}

.imgInfo {
    max-width: 1006px;
    max-height: 441px;
}

.gris {
    color: #666666;
}

.contieneInformacion h2 {
    line-height: 0.7;
}