<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="power" [style.color]="color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Inicio
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="accesoRapido">
        <h3>Acceso rápido</h3>
        <ion-row>
            <ion-col class="col">
                <div class="preguntasCol redondo" [routerDirection]="'root'" [routerLink]="['/home']">
                    <ion-icon name="help"></ion-icon>
                </div>
                <small>Preguntas</small>
            </ion-col>
            <ion-col class="col">
                <div class="ponentes redondo" [routerDirection]="'root'" [routerLink]="['/ponentes']">
                    <ion-icon name="contact"></ion-icon>
                </div>
                <small>Relatores</small>
            </ion-col>
            <ion-col class="col">
                <div class="usuarios redondo">
                    <ion-icon name="contacts" [routerDirection]="'root'" [routerLink]="['/usuarios']"></ion-icon>
                </div>
                <small>Usuarios</small>
            </ion-col>
            <ion-col class="col">
                <div class="mas redondo">
                    <ion-icon name="list-box" [routerDirection]="'root'" [routerLink]="['/programa']"></ion-icon>
                </div>
                <small>Programa</small>
            </ion-col>
        </ion-row>
    </div>

    <div *ngFor="let item of items" class="contieneInformacion contienePreguntas">
        <h4>{{item.payload.doc.data().titulo}}</h4>
        <h2 [style.color]="item.payload.doc.data().color">{{item.payload.doc.data().subtitulo}}</h2>
        <ion-img [src]="item.payload.doc.data().imagen" *ngIf="item.payload.doc.data().imagen" class="imgInfo"></ion-img>
        <p>{{item.payload.doc.data().contenido}}</p>
        <p class="gris">
            <ion-icon name="calendar"></ion-icon><strong> {{item.payload.doc.data().fecha}}</strong>
        </p>
        <p class="gris">
            <ion-icon name="pin"></ion-icon> {{item.payload.doc.data().lugar}}
        </p>
    </div>
</ion-content>