<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar>
                    <div class="center usuarioTitulo">XESTIÓN DE BIORRESIDUOS</div>
                    <div class="menuUsuario" (click)="viewDetails(UID)" *ngIf="UID">
                        <div class="avatarMenu">
                            <img [src]="imagen">
                        </div>
                        <div class="nombre">{{nombre}} {{apellidos}}</div>
                        <div class="editarPerfil">
                            <div class="iconColor" [style.background-color]="color">
                                <ion-icon name="contact"></ion-icon>
                            </div>
                            <small>Editar perfil</small>
                        </div>
                    </div>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle class="menuToggle" auto-hide="false" *ngFor="let p of appPages">
                        <ion-item class="noBorder" [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>