<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="power" [style.color]="color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Relatores
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div *ngFor="let item of items">
        <div *ngIf="item.payload.doc.data().ponente == true">
            <ion-card *ngIf="item.payload.doc.data().email !== 'consultaxeral@tramasolutions.com'">
                <ion-card-content>
                    <ion-item>
                        <ion-avatar slot="start">
                            <img [src]="item.payload.doc.data().image">
                        </ion-avatar>
                        <ion-label>
                            <h3>{{item.payload.doc.data().nombre}} {{item.payload.doc.data().apellidos}}</h3>
                            <small>{{item.payload.doc.data().cargo}}</small>
                        </ion-label>
                    </ion-item>
                </ion-card-content>

            </ion-card>
        </div>
    </div>
</ion-content>