<ion-header>
    <ion-toolbar>
        <ion-title>Rexistro de usuarios</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
    <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

        <ion-item>
            <ion-label position="floating" color="primary">Nome</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
                <div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="primary">Apelidos</ion-label>
            <ion-input type="text" formControlName="apellidos"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.apellidos">
                <div class="error-message" *ngIf="validations_form.get('apellidos').hasError(validation.type) && (validations_form.get('apellidos').dirty || validations_form.get('apellidos').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-item>
            <ion-label position="floating" color="primary">Email</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label position="floating" color="primary">Contrasinal</ion-label>
            <ion-input type="password" formControlName="password" class="form-controll" required></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-item>
            <ion-label position="floating" color="primary">Elexir una cor para o seu usuario</ion-label>
            <ion-select okText="OK" cancelText="Cancelar" formControlName="color" class="form-controll" required>
                <ion-select-option *ngFor="let color of colores" [value]="color.hex"><span class="color.nombre"> {{color.nombre}}</span></ion-select-option>
            </ion-select>
        </ion-item>

        <ion-button class="submit-btn marginTop" expand="block" type="submit" [disabled]="!validations_form.valid">Rexistro</ion-button>
        <label class="error-message">{{errorMessage}}</label>
        <label class="success-message">{{successMessage}}</label>
    </form>

    <p class="go-to-login">¿Xa tes una conta?
        <ion-button class="go-to-login" expand="block" (click)="goLoginPage()">Acceso usuarios</ion-button>
</ion-content>