<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="md-arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Nova respuesta</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">


    <form class="form" [formGroup]="validations_form" (ngSubmit)="onSubmit(id, validations_form.value)">


        <ion-item>
            <ion-label position="floating" color="primary">Respuesta</ion-label>
            <ion-input type="textarea" rows="10" cols="20" formControlName="respuesta" class="form-control areas" required></ion-input>
        </ion-item>

        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.respuesta">
                <div class="error-message" *ngIf="validations_form.get('respuesta').hasError(validation.type) && (validations_form.get('respuesta').dirty || validations_form.get('respuesta').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>

        <ion-button class="form-action-button" expand="block" type="submit" [disabled]="!validations_form.valid">Responder</ion-button>
    </form>


</ion-content>