<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="power" [style.color]="color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Consultas
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div class="accesoRapido">
        <h3>Acceso rápido</h3>
        <ion-row>
            <ion-col class="col">
                <div class="preguntasCol redondo" [routerDirection]="'root'" [routerLink]="['/home']">
                    <ion-icon name="help"></ion-icon>
                </div>
                <small>Preguntas</small>
            </ion-col>
            <ion-col class="col">
                <div class="ponentes redondo" [routerDirection]="'root'" [routerLink]="['/ponentes']">
                    <ion-icon name="contact"></ion-icon>
                </div>
                <small>Relatores</small>
            </ion-col>
            <ion-col class="col">
                <div class="usuarios redondo">
                    <ion-icon name="contacts" [routerDirection]="'root'" [routerLink]="['/usuarios']"></ion-icon>
                </div>
                <small>Usuarios</small>
            </ion-col>
            <ion-col class="col">
                <div class="mas redondo">
                    <ion-icon name="list-box" [routerDirection]="'root'" [routerLink]="['/programa']"></ion-icon>
                </div>
                <small>Programa</small>
            </ion-col>
        </ion-row>
    </div>
    <div class="noPreguntas">Non hai preguntas</div>
    <div *ngFor="let item of preguntas; let i = index; first as isFirst; let l = count" class="contienePreguntas">
        <!--{{preguntasServices.contadorOld}} > {{l}}-->
        <div *ngIf="(esmoderador == true || esponente == true) && preguntasServices.contadorOld < l" class="anima">
            <!--<div *ngIf="item.payload.oldIndex == 0" class="anima">-->
            <ion-img src="assets/imgs/icon_mail.gif" *ngIf="showImage"></ion-img>
        </div>
        <div class="preguntas" *ngIf="esponente == true || esmoderador == true || item.payload.doc.data().autor == UID">
            <!--aqui metemos los chips de los usuarios-->
            <div class="chip" *ngFor="let user of items" [style.background-color]="user.payload.doc.data().color">
                <ion-avatar class="Avatar">
                    <img class="imagenAvatar" *ngIf="item.payload.doc.data().autor == user.payload.doc.id" [src]="user.payload.doc.data().image">
                </ion-avatar>
                <ion-label class="labelAvatar" *ngIf="item.payload.doc.data().autor == user.payload.doc.id">{{user.payload.doc.data().nombre}}</ion-label>
            </div>
            <!--aquí el botón para pantalla completa solo para respuesta de los ponentes-->

            <div class="responder" *ngIf="esmoderador == true">
                <ng-container>
                    <ion-button slot="end" (click)="pantallaCompleta(item.payload.doc.id)">
                        <ion-icon name="desktop"></ion-icon>
                    </ion-button>
                </ng-container>

            </div>
            <!--aquí el botón solo para respuesta de los ponentes
                <div class="responder" *ngIf="esponente == true">
                <ng-container>
                    <ion-button slot="end" (click)="responderPreguntaModal(item.payload.doc.id, item.payload.doc.data())">
                        Responder
                    </ion-button>
                </ng-container>

            </div>
        -->
            <!--aquí metemos las preguntas-->
            <ng-container class="pregunta">
                <p>{{item.payload.doc.data().titulo}}</p>
                <div class="paraPonente" *ngIf="!item.payload.doc.data().ponente">Pregunta para: Consulta xeral</div>
                <div class="paraPonente" *ngIf="item.payload.doc.data().ponente">Pregunta para: {{item.payload.doc.data().ponente}}</div>

            </ng-container>
        </div>
        <!--aquí metemos las respuestas
        <div *ngFor="let res of respuestas" class="respuestas">
            <div *ngIf="res.payload.doc.data().preguntaId == item.payload.doc.id && esponente == true">
                <div class="sepLineal"></div>
                <p>{{res.payload.doc.data().respuesta}}</p>
            </div>
        </div>
        -->
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openNewUserModal()">
            <ion-icon name="add" class="white"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>