.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

ion-card-content {
    display: contents;
    position: relative;
}

.Avatar {
    height: auto;
    width: auto;
}

.imagenAvatar {
    height: 24px;
    width: 24px;
    margin-left: 10px;
    margin-top: 3px;
}

.labelAvatar {
    margin-left: 5px;
    margin-top: 8px;
    margin-right: 15px;
    font-size: 12px;
}

ion-chip {
    padding: 0px;
}

.chip {
    border-radius: 30px;
    display: inline-flex;
    color: #ffffff;
}

.paraPonente {
    border-radius: 30px;
    background-color: #c5c5c5;
    color: #292929;
    font-size: 12px;
    float: right;
    padding: 10px;
}

.preguntas {
    overflow: hidden;
    background-color: #efefef;
    padding: 10px;
    -webkit-border-radius: 10px 10px 0 10px;
    border-radius: 10px 10px 0 10px;
    margin-top: 10px;
    z-index: 100;
    position: relative;
}


/*
.preguntas.active {
    background-color: #cecece;
}
*/

.noPreguntas {
    position: relative;
    z-index: 10;
    top: 50px;
    text-align: center;
    font-size: 25px;
}

.sepLineal {
    background: url('/assets/imgs/lineal.png') no-repeat 50px 0px;
    height: 20px;
}

.respuestas p {
    background-color: #cccccc;
    padding: 10px;
    margin-left: 25px;
    -webkit-border-radius: 10px 0 10px 10px;
    border-radius: 10px 0 10px 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.responder {
    float: right;
}

.responder ion-button {
    text-transform: lowercase;
    margin: 0px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.anima ion-img {
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 90px;
    left: 0px;
    background-color: #FFFFFF;
}

.anima ion-img {
    height: 100px;
}

.accesoRapido {
    text-align: center;
}

.accesoRapido .col {
    text-align: center;
}

.accesoRapido ion-icon {
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    margin-top: 5px;
}

.preguntasCol {
    background-color: #3880ff;
}

.ponentes {
    background-color: #0cd1e8;
}

.usuarios {
    background-color: #7044ff;
}

.mas {
    background-color: #ffce00;
}

.redondo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
}

.col small {
    font-size: 12px;
    color: #666666;
}