// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
.center {
    text-align: center !important;
}

.menuUsuario .item-inner {
    --border-width: 0px;
}

#alert-input-1-0>div>div.alert-radio-label.sc-ion-alert-md::before {
    background-color: #0cd1e8;
    color: #0cd1e8;
    content: '----';
}

#alert-input-1-1>div>div.alert-radio-label.sc-ion-alert-md::before {
    background-color: #3880ff;
    color: #3880ff;
    content: '----';
}

#alert-input-1-2>div>div.alert-radio-label.sc-ion-alert-md::before {
    background-color: #7044ff;
    color: #7044ff;
    content: '----';
}

#alert-input-1-3>div>div.alert-radio-label.sc-ion-alert-md::before {
    background-color: #ffce00;
    color: #ffce00;
    content: '----';
}

#alert-input-1-4>div>div.alert-radio-label.sc-ion-alert-md::before {
    background-color: #f04141;
    color: #f04141;
    content: '----';
}

#alert-input-1-5>div>div.alert-radio-label.sc-ion-alert-md:before {
    background-color: #000;
    color: #000;
    content: '---';
}

.editarPerfil {
    float: right;
    margin-right: 10px;
}

.iconColor {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}

.usuarioTitulo {
    margin-bottom: 20px;
    overflow: hidden;
}

.menuUsuario small {
    font-size: 11px;
    color: #666666;
    display: inline;
}

.menuUsuario .nombre {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
}

.avatarMenu img {
    border-radius: 25px;
    width: 50px;
    height: 50px;
    float: left;
}


/* For general iPad layouts */

@media only screen and (device-width: 768px) {
    .menuToggle ion-item {
        border-bottom: 1px solid #CCCCCC;
    }
    .menuToggle .noBorder {
        border: none !important;
    }
    ion-toolbar.hydrated {
        border: 1px solid #CCCCCC;
    }
    ion-content {
        padding: 20px;
    }
    .contienePreguntas {
        margin: 20px;
    }
}