.fecha {
    color: #FFFFFF;
    padding: 5px;
    overflow: hidden;
}

.contieneInformacion div {
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.info {
    overflow: hidden;
}

.horarios {
    overflow: hidden;
}

.hora {
    background-color: #CCCCCC;
    padding: 5px;
}

.ponentes {
    overflow: hidden;
    margin-bottom: 15px;
}

.iconHora {
    font-size: 20px;
}

.programa {
    color: #8b925c;
}