<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="logout()">
                <ion-icon slot="icon-only" name="power" [style.color]="color"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Programa
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h2 class="programa">PROGRAMA DA XORNADA</h2>
    <div *ngFor="let item of items" class="contieneInformacion contienePreguntas">
        <div *ngIf="item.payload.doc.data().dia" class="fecha" [style.background-color]="item.payload.doc.data().color">{{item.payload.doc.data().dia.toDate() | date: 'dd/MM/yyyy'}}</div>
        <div *ngIf="item.payload.doc.data().informacion">{{item.payload.doc.data().informacion}}</div>
        <div *ngIf="item.payload.doc.data().horarios" class="horarios">
            <div class="hora">
                <span *ngIf="item.payload.doc.data().horarios.inicio">
                  {{item.payload.doc.data().horarios.inicio.toDate() | date: 'HH:mm'}}</span>
                <!--<span *ngIf="item.payload.doc.data().horarios.fin"> - {{item.payload.doc.data().horarios.fin.toDate() | date: 'HH:mm'}}</span>--></div>
            <div><strong>{{item.payload.doc.data().horarios.ponencia}}</strong></div>
        </div>

        <div *ngIf="item.payload.doc.data().ponentes" class="ponentes">
            <div *ngIf="item.payload.doc.data().ponentes.doctor1">
                <ion-icon name="person"></ion-icon> {{item.payload.doc.data().ponentes.doctor1}}</div>
            <div *ngIf="item.payload.doc.data().ponentes.doctor2">
                <ion-icon name="person"></ion-icon> {{item.payload.doc.data().ponentes.doctor2}}</div>
            <div *ngIf="item.payload.doc.data().ponentes.doctor3">
                <ion-icon name="person"></ion-icon> {{item.payload.doc.data().ponentes.doctor3}}</div>
            <div *ngIf="item.payload.doc.data().ponentes.doctor4">
                <ion-icon name="person"></ion-icon> {{item.payload.doc.data().ponentes.doctor4}}</div>
            <div *ngIf="item.payload.doc.data().ponentes.doctor5">
                <ion-icon name="person"></ion-icon> {{item.payload.doc.data().ponentes.doctor5}}</div>

        </div>

    </div>
</ion-content>